.hList li {
  list-style: none;
  padding: 15px 0 15px;
  display: flex;
  align-items: center;
}
.hList {
  padding: 0 15px;
}
.hList li a {
  color: black;
}
.link-list ul {
  display: block;
}
.link-list {
  width: 30vw;
  height: fit-content;
  padding: 20px 0;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.4);
}
.item {
  width: 65vw;
  padding: 0 85px 0 0;
}
.blog-item {
  display: flex;
}
p {
  text-align: justify;
  font-size: 19px;
  line-height: 1.5;
}
body {
  margin: 0;
}
nav {
  background-color: rgba(0, 0, 0, 0.8);
  padding-bottom: 10px;
}
div h2 {
  font-size: 36px;
}
.himg {
  width: 100%;
}
li img {
  width: 100px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}
